<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" data-aos="fade-down" th:fragment="navbar">
  <a class="navbar-brand" href="http://localhost:8080/app/home">Ninja API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/app/xsd">XSD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/app/rng">RNG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SOAP-JAXB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/app/dhmz">DHMZ</a>
      </li>
    </ul>
    <span class="navbar-text">
      IIS-PROJEKT
    </span>
  </div>
</nav>

<style>

  body{
    background: rgb(52,51,57);
    background: linear-gradient(90deg, rgba(52,51,57,1) 0%, rgba(57,66,57,1) 51%);
  }

</style>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>